{% extends "base.html" %}
{% load static %}
{% block title %}{{ table.limit_str }} {{ table.name }}{% endblock %}
{% block body %}
    <h4>{{ table.limit_str }} {{ table.name }}. By Hour (UTC)</h4>
    <div class="row">
        <div class="col-sm-12">
            {{ charts.player_count_chart_by_hour|safe }}
        </div>
        <div class="col-sm-12">
            {{ charts.mtr_chart_by_hour|safe }}
        </div>
        <div class="col-sm-12">
            {{ charts.multi_tablers_percent_chart_by_hour|safe }}
        </div>
        <div class="col-sm-12">
            {{ charts.players_per_flop_chart_by_hour|safe }}
        </div>
        <div class="col-sm-12">
            {{ charts.average_pot_chart_by_hour|safe }}
        </div>
    </div>
{% endblock %}
