{% extends "base.html" %}
{% load static %}
{% block title %}{{ table.limit_str }} {{ table.name }}{% endblock %}
{% block body %}
    <h4>{{ table.limit_str }} {{ table.name }}. Last 24 hours (UTC)</h4>

    <div class="row">
        <div class="col-sm-12">
            {{ charts.player_count_chart_last_24|safe }}
        </div>
        <div class="col-sm-12">
            {{ charts.mtr_chart_last_24|safe }}
        </div>
        <div class="col-sm-12">
            {{ charts.one_tabler_percent_chart_last_24|safe }}
        </div>
        <div class="col-sm-12">
            {{ charts.two_tabler_percent_chart_last_24|safe }}
        </div>
        <div class="col-sm-12">
            {{ charts.three_tabler_percent_chart_last_24|safe }}
        </div>
        <div class="col-sm-12">
            {{ charts.four_tabler_percent_chart_last_24|safe }}
        </div>
        <div class="col-sm-12">
            {{ charts.players_per_flop_chart_last_24|safe }}
        </div>
        <div class="col-sm-12">
            {{ charts.average_pot_chart_last_24|safe }}
        </div>
    </div>
{% endblock %}
