{% extends "base.html" %}
{% load static %}
{% block title %}{{ table.limit_str }} {{ table.name }}{% endblock %}
{% block body %}
    <h4>{{ table.limit_str }} {{ table.name }}. Last 24 hours (UTC)</h4>
    <div class="row">
        <div class="col-sm-10">
            <div>
                {{ charts.player_count_chart_last_24|safe }}
            </div>
            <div>
                {{ charts.mtr_chart_last_24|safe }}
            </div>
            <div>
                {{ charts.one_tabler_percent_chart_last_24|safe }}
            </div>
            <div>
                {{ charts.two_tabler_percent_chart_last_24|safe }}
            </div>
            <div>
                {{ charts.three_tabler_percent_chart_last_24|safe }}
            </div>
            <div>
                {{ charts.four_tabler_percent_chart_last_24|safe }}
            </div>
            <div>
                {{ charts.players_per_flop_chart_last_24|safe }}
            </div>
            <div>
                {{ charts.average_pot_chart_last_24|safe }}
            </div>
        </div>
        <div class="col-sm-2">
            {% include "traffic/table_sidebar.html" %}
        </div>
    </div>
{% endblock %}
