{% load static %}
{% if tables %}
    <table>
        <tr>
            <td>Table</td>
            <td>Plrs. (entries)</td>
            <td>Unique plrs.</td>
            <td>Avg. pot</td>
            <td>Plrs/flop</td>
        </tr>
        {% for table in tables %}
            {% if table.last_scan.entry_count > 0 %}
                <tr>
                    <td>{{ table.last_scan.table.name }}</td>
                    <td>{{ table.last_scan.entry_count }}</td>
                    <td>{{ table.last_scan.unique_player_count }}</td>
                    <td>{{ table.last_scan.average_pot }}</td>
                    <td>{{ table.last_scan.players_per_flop }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% else %}
    No scans yet
{% endif %}
